<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
   	<!-- CSS -->    
	{% load static %}
    <link rel="stylesheet" href="{% static 'tomatos/style.css' %}" />
    <link rel="stylesheet" href="{% static 'tomatos/bootstrap/css/bootstrap.min.css' %}" />
    
    <title>{% block title %}TomatoSearch v0.1{% endblock %}</title>
</head>

<body>
	
	<!----------- TOP BAR WITH NAVIGATION ----------->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark bd-navbar" id="navbar">
		
		<!-- BRANDING -->
		<a class="navbar-brand text-light bg-gray" href="{% url 'tomatos:index' %}">TomatoSearch v0.1</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" 
		 aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  				
  		<div class="collapse navbar-collapse" id="navbarText">
  			<!-- MENU ITEMS -->
  			<ul class="navbar-nav mr-auto">
  				<li class="nav-item">
  					<a class="nav-link" data-toggle="collapse" href="#colorSearchForm" aria-expanded="false"
  					 aria-controls="colorSearchForm">Farben</a>
  				</li>
  				<li class="nav-item">
  					<a class="nav-link" data-toggle="collapse" href="#typeSearchForm" aria-expanded="false"
  					 aria-controls="typeSearchForm">Typen</a>
  				</li>
  				<li class="nav-item">
  					<a class="nav-link" data-toggle="collapse" href="#helpCard" aria-expanded="false"
  					 aria-controls="helpCard">Hilfe</a>
  				</li>
  			</ul>
  			
  			<!-- SEARCH BAR-->
			<form class="form-inline my-2 my-lg-0 main-search-form">
   				<input class="form-control mr-sm-2 main-search-input" type="text"
   				 placeholder="Titel und/oder Beschreibung" aria-label="Search">
   				<button class="btn btn-outline-secondary my-2 my-sm-0 main-search-button"
   				 type="submit">Suchen</button>
   			</form>
    	</div>
    	    	
	</nav>
	
	<!--------------- EXPANDING AREA ---------------->
	<div class="container">
	
		<!------------- COLORS SELECTION ------------>
		<div class="row" >
			<div class="col-sm-12 collapse" id="colorSearchForm">
				<div class="card card-body">
					{% block color_selection %}
						<h3>Bitte Tomatenfarben auswählen</h3>
						{% if tomato_context.tomatocolor_list %}
							<form>
								{% for tomatocolor in tomato_context.tomatocolor_list %}
									<div class="form-check">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" value="{{ tomatocolor.id }}">
											<span>{{ tomatocolor }}</span>
										</label>
									</div>
								{% endfor %}	
							</form>
						{% else %}
							<p>Sorry, hier gibt es nichts auszuwählen.</p>
						{% endif %}	
    				{% endblock %}
    			</div>
    		</div>
    	</div>
    	
    	<!-------------- TYPE SELECTION ------------->
    	<div class="row">
    		<div class="collapse col-sm-12" id="typeSearchForm">
    			<div class="card card-body">
    				{% block type_selection %}
						<h3>Bitte Tomatenpflanzentypen auswählen</h3>
						{% if tomato_context.tomatotype_list %}
							<form>
								{% for tomatotype in tomato_context.tomatotype_list %}
									<div class="form-check">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" value="{{ tomatotype.id }}">
											<span>{{ tomatotype }}</span>
										</label>
									</div>
								{% endfor %}
							</form>
						{% else %}
							<p>Sorry, hier gibt es nichts auszuwählen.</p>		
						{% endif %}
    				{% endblock %}
    			</div>
    		</div>
    	</div>
    	
    	<!---------------- HELP CARD ---------------->
    	<div class="row">
    		<div class="collapse col-sm-12" id="helpCard">
    			<div class="card card-body">
    				<h3>Bedienhilfe</h3>
    				<p>Wie funktioniert dies Web Application eigentlich?</p>
    			</div>
    		</div>
    	</div>
    	    	
    </div>
			
	<div class="container" id="content">
		<!------------- CONTENT HEADING ------------->
			<div class="row" id="content-head">
				{% block content_head %}{% endblock %}
			</div>
		
		<!--------------- CONTENT BODY -------------->
			<div class="row" id="content-body">
        		{% block content_body %}{% endblock %}
    		</div>
    </div>
    
    <!------------------- FOOTER -------------------->
    <div class="container-fluid">
        <div class="row" id="footer">
        	<div class="col-sm-12 bg-light">
				<p class="text-dark">The Ultimate Tomato Search Engine</p>
			</div>
    	</div>
	</div>
    
    <!----------------- JAVASCRIPT ------------------>
    <script src="{% static 'tomatos/jquery/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'tomatos/popper_js/js/popper.min.js' %}"></script>
	<script src="{% static 'tomatos/bootstrap/js/bootstrap.min.js' %}"></script>     
    
</body>
</html>