{% load tomato_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- CSS -->    
    {% load static %}
    <link rel="stylesheet" href="{% static 'tomatos/style.css' %}" />
    <link rel="stylesheet" href="{% static 'tomatos/bootstrap/css/bootstrap.css' %}" />
    
    <!-- ICON AND TITLE -->
    <link rel="shortcut icon" type="image/png" href="{% static 'tomatos/icons/favicon.ico' %}" />
    <title>{% block title %}TomatoSearch v0.3{% endblock %}</title>
</head>

<body>
	<form action="/" method="get" id="navigation-wrapper">
		<!-- ********* TOP BAR WITH NAVIGATION ********* -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark bd-navbar sticky-top" id="navbar">
			
			<!-- BRANDING -->
			<a class="navbar-brand text-light bg-gray" href="{% url 'tomatos:index' %}">TomatoSearch v0.3</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" 
			 aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	  				
	  		<div class="collapse navbar-collapse" id="navbarText">
	  			<!-- MENU ITEMS -->
	  			<ul class="navbar-nav mr-auto">
	  				<li class="nav-item">
	  					<a class="nav-link expandToggle" data-toggle="collapse" data-parent="#navbarExpand" href="#colorSearchForm"
	  						aria-expanded="false" aria-controls="colorSearchForm">Farben</a>
	  				</li>
	  				<li class="nav-item">
	  					<a class="nav-link expandToggle" data-toggle="collapse" data-parent="#navbarExpand" href="#typeSearchForm"
	  						aria-expanded="false" aria-controls="typeSearchForm">Typen</a>
	  				</li>
	  				<li class="nav-item">
	  					<a class="nav-link expandToggle" data-toggle="collapse" data-parent="#navbarExpand" href="#helpCard"
	  						aria-expanded="false" aria-controls="helpCard">Hilfe</a>
	  				</li>
	  			</ul>
	  			
	  			<!-- SEARCH BAR -->
	  			<div class="form-inline my-2 my-lg-0 main-search-form">
   					{{ form.search_query|addcss:"form-control mr-sm-2 main-search-input" }}
   					<button class="btn btn-outline-secondary my-2 my-sm-0 main-search-button" type="submit">Suchen</button>
				</div>
	    	</div>
	    	    	
		</nav>
		
		<!-- ************* EXPANDING AREA ************** -->
		<div class="container" id="navbarExpand" data-children=".expandable">
		
			<!-- ********** COLORS SELECTION *********** -->
			<div class="row justify-content-center" >
				<div class="col-sm-10 collapse expandable" id="colorSearchForm">
					<div class="card card-body">
						{% block color_selection %}
							<p><strong>Bitte Tomatenfarben auswählen</strong></p>
							<p>Wird mehr als eine Farbe ausgewählt, erscheinen all jene Tomatenpflanzen mit 
								mindestens einer dieser Farben.<br />
								Wird keine Farbe ausgewählt, findet schlicht keine Farbauswahl statt.</p>
							{% if form.tomato_colors %}
								{{ form.tomato_colors|addcss:"category-list" }}
							{% else %}
								<p>Sorry, hier gibt es nichts auszuwählen.</p>
							{% endif %}
	    				{% endblock %}
	    			</div>
	    		</div>
	    	</div>
	    	
	    	<!-- ************ TYPE SELECTION *********** -->
	    	<div class="row justify-content-center">
	    		<div class="collapse col-sm-10 expandable" id="typeSearchForm">
	    			<div class="card card-body">
	    				{% block type_selection %}
							<p><strong>Bitte Tomatenpflanzentypen auswählen</strong></p>
							<p>Wird mehr als ein Pflanzentyp ausgewählt, erscheinen all jene Tomatenpflanzen mit 
								mindestens einem dieser Typen.<br />
								Wird gar kein Typ ausgewählt, findet schlicht keine Typauswahl statt.</p>
							
							{% if form.tomato_types %}
								{{ form.tomato_types|addcss:"category-list" }}
							{% else %}
								<p>Sorry, hier gibt es nichts auszuwählen.</p>
							{% endif %}							
	    				{% endblock %}
	    			</div>
	    		</div>
	    	</div>
	    	
	    	<!-- ************** HELP CARD ************** -->
	    	<div class="row justify-content-center">
	    		<div class="collapse col-sm-10 expandable" id="helpCard">
	    			<div class="card card-body">
	    				<p><strong>Bedienhilfe</strong></p>
	    				<p>
	    					Suche nach Tomatenpflanzen mittels Stichworten, die in die Suchzeile eingetragen werden.
	    					Optional kann die Suche nach Farben, die als Stichwort in der Beschreibung oder dem Titel
	    					der Tomatenpflanze vorkommen, eingeschränkt werden. Ebenso funktioniert es mit Pflanzentypen.
	    					Verwende dafür die jeweiligen Auswahlmenüs unter "Farben" und "Typen".
 	    				</p>
 	    				<p>
 	    					Die ursprünglichen Daten wurden automatisch aus der <a href="http://www.birgit-kempe-tomaten.de/"
 	    					target="_blank">Website von Birgit Kempe</a> extrahiert und in die eigene Datenbank importiert.
 	    				</p>
	    			</div>
	    		</div>
	    	</div>
	    	    	
	    </div>
			
		<div class="container" id="content">
			<!-- *********** CONTENT HEADING *********** -->
				<div class="row justify-content-center" id="content-head">
					{% block content_head %}{% endblock %}
				</div>
			
			<!-- ************* CONTENT BODY ************ -->
				<div class="row justify-content-center" id="content-body">
	        		{% block content_body %}{% endblock %}
	    		</div>
	    </div>
    
    </form>
    
    <!-- ***************** FOOTER ****************** -->
    <div class="container-fluid">
        <div class="row" id="footer">
        	<div class="col-sm-12 bg-light">
				<p class="text-dark">The Ultimate Tomato Search Engine</p>
			</div>
    	</div>
	</div>
    
    <!-- *************** JAVASCRIPT **************** -->
    <script src="{% static 'tomatos/jquery/js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'tomatos/popper_js/js/popper.js' %}"></script>
	<script src="{% static 'tomatos/bootstrap/js/bootstrap.js' %}"></script>     
    
</body>
</html>
