<!DOCTYPE html>
<html lang="en">

<!-- set variables -->
{% with "TomatoSearch v0.1" as branding %}

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
   	<!-- CSS -->    
	{% load static %}
    <link rel="stylesheet" href="{% static 'tomatos/style.css' %}" />
    <link rel="stylesheet" href="{% static 'tomatos/bootstrap/css/bootstrap.min.css' %}" />
    
    <title>{% block title %}{{ branding }}{% endblock %}</title>
</head>

<body>
	
	<!----------- TOP BAR WITH NAVIGATION ----------->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark bd-navbar" id="navbar">
		
		<!-- BRANDING -->
		<a class="navbar-brand text-light bg-gray" href="{% url 'tomatos:index' %}">{{ branding }}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  				
  		<div class="collapse navbar-collapse" id="navbarText">
  			<!-- MENU ITEMS -->
  			<ul class="navbar-nav mr-auto">
  				<li class="nav-item">
  					<a class="nav-link" href="{% url 'tomatos:index' %}">Farbe</a>
  				</li>
  				<li class="nav-item">
  					<a class="nav-link" href="{% url 'tomatos:index' %}">Typ</a>
  				</li>
  			</ul>
  			<!-- SEARCH BAR-->
  			<form class="form-inline my-2 my-lg-0 main-search-form">
      			<input class="form-control mr-sm-2 main-search-input" type="text" placeholder="Titel und/oder Beschreibung" aria-label="Search">
      			<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    		</form>
    	</div>
	</nav>
			
	<div class="container" id="content">
		<!------------- CONTENT HEADING ------------->
			<div class="row" id="content-head">
				{% block content_head %}{% endblock %}
			</div>
		
		<!--------------- CONTENT BODY -------------->
			<div class="row" id="content-body">
        		{% block content_body %}{% endblock %}
    		</div>
    </div>
    <div class="container-fluid">
    	<!----------------- FOOTER ------------------>
        <div class="row" id="content-footer">
        	<div class="col-sm-12 bg-light">
				<p class="text-dark">Kais super-tolle Suchmaschine</p>
			</div>
    	</div>
	</div>
    
    <!----------------- JAVASCRIPT ------------------>
    <script src="{% static 'tomatos/jquery/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'tomatos/popper_js/js/popper.min.js' %}"></script>
	<script src="{% static 'tomatos/bootstrap/js/bootstrap.min.js' %}"></script>     
    
</body>
{% endwith %}
</html>