{% extends "tomatos/base.html" %}

<!------------ CONTENT HEADING ------------>
{% block content_head %}
	<div class="col-sm-10">
		<h1>{{ tomato.name }}</h1>
	</div>	
{% endblock %}

<!-------------- CONTENT BODY ------------->
{% block content_body %}

	<!-- CONTENT LEFT -->
	<div id="content-left" class="col-sm-5">

		{% if tomato.description %}
			<h3>Beschreibung</h2>
			<p>{{ tomato.description }}</p>
		{% endif %}
	
		{% if tomato.types.all|length > 0 %}
			<h3>Typen</h2>
			<ul class="categories-list">
				{% for type in tomato.types.all %}
					<li>{{ type.name }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	
		{% if tomato.colors.all|length > 0 %}
			<h3>Farben</h2>
			<ul class="categories-list">
				{% for color in tomato.colors.all %}
					<li>{{ color.name }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		
	</div>
	
	<!-- CONTENT RIGHT -->
	<div id="content-right" class="col-sm-5">
		{% if tomato.image %}
			{% load static %}
			<img class="img-fluid" src="{% get_media_prefix %}{{ tomato.image }}"/>
		{% endif %}	
	</div>
		
{% endblock %}