{% extends "tomatos/base.html" %}

<!-- ********** CONTENT HEADING ********** -->
{% block content_head %}
	<div class="col-sm-10 tomato-list-heading">
		<h5>Deine Suche ergab {{ tomato_list|length }} Treffer</h5>
	</div>	
{% endblock %}

<!-- ************ CONTENT BODY *********** -->
{% block content_body %}
	<div id="content-middle" class="col-sm-10">
		{% if tomato_list %}
			<ul class="tomato-list">
				{% for tomato in tomato_list %}
					<li class="tomato-list-item">
						<a href="{% url 'tomatos:detail' pk=tomato.id %}" target="_blank">
							{% if tomato.image %}
								<img class="img-fluid" src="/media/{{ tomato.image }}" />
							{% else %}
								<img class="img-fluid" src="/static/tomatos/icons/tomato.png" />
							{% endif %}
						</a>
					</li>
				{% endfor %}
			</ul>
		{% else%}
			<p>Sorry, no tomatos available.</p>
		{% endif %}
	</div>
{% endblock %}