{% extends "tomatos/base.html" %}

<!------------ CONTENT HEADING ------------>
{% block content_head %}
	
{% endblock %}

<!-------------- CONTENT BODY ------------->
{% block content_body %}
	<div id="content-middle" class="col-sm-12">
		{% if tomatos_list %}
			<ul class="tomato-list">
				{% for tomato in tomatos_list %}
					<li class="tomato-list-item">
						<h4><a href="{% url 'tomatos:index' %}{{ tomato.id }}">{{ tomato.name }}</a></h4>
						<p>{{ tomato.description|truncatewords:20 }}
					</li>
				{% endfor %}
			</ul>
		{% else%}
			<p>Sorry, no tomatos available.</p>
		{% endif %}
	</div>
{% endblock %}