/* ---------- GENERAL SETTINGS ---------- */

a:hover {
	text-decoration: none;
}
#content {
	margin-top: 40px;
}


/* --------------- NAVBAR --------------- */

#navbar {
	width: 100%;
	margin-bottom: 10px;
}
@media(max-width: 991px) {
	#navbar .main-search-form {
		width: 100%;
	}
}
@media(min-width: 992px) {
	#navbar .main-search-form {
		width: 75%;
	}	
}

#navbar .main-search-input {
	width: 80%;
}
#navbarExpand .expandable ul.category-list {
	list-style: none;
	padding-left: 0;
}
@media(min-width: 768px) {
	#navbarExpand .expandable ul.category-list li {
		float: left;
		display: block;
		width: 50%;
	}
}

/* ----------TOMATO RESULTS LIST -------- */
#content-head div.tomato-list-heading {
	margin-left: 40px;
}
#content-middle ul.tomato-list {
	list-style: none;
}
#content-middle ul.tomato-list > li.tomato-list-item {
	margin-top: 20px;
	margin-bottom: 20px;
}
#content-middle ul.tomato-list > li.tomato-list-item:first-child {
	margin-top: 0;
}
#content-middle ul.tomato-list > li.tomato-list-item:before {
	content: '';
	display: inline-block;
	height: 30px;
	width: 30px;
	background-image: url('icons/tomato.png');
	margin-left: -45px;
	margin-bottom: -32px;
}
#content-middle ul.tomato-list > li.tomato-list-item  a:hover {
	text-decoration: none;
}

/*---------- TOMATO DETAILS VIEW -------- */
#content-head {
	margin-bottom: 20px;
}
#content-left ul.categories-list {
	list-style: none;
	padding-left: 0;
}

/* --------------- FOOTER --------------- */

#footer {
	margin-top: 40px;
}
#footer > div {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
	box-shadow: 0px 500px 0px 500px #F8F9FA;
}
#footer p {
	font-size: 14px;
}